%br
%br
%br
.container
  .row
    .col-md-8.col-md-offset-2
      -@workshops.each do |workshop|
        .col-md-12
          .thumbnail.pasty2
            =image_tag(workshop.cover.url(:medium))
            .caption
              %h3=link_to workshop.title, workshop_path(workshop),class: "arvo"
              
              %p
                %em mentors:
                -@admins = Admin.where(workshop_id: workshop.id)
                -@admins.each do |admin|
                  =admin.name
                  -if @admins.size > 1
                    ,
              %hr
              %p=workshop.content
              .btn-group.down
                =link_to 'View More',workshop_path(workshop),class: "btn btn-primary"
