%p#notice= notice
%br
%br
%br
.row
  .col-md-6.col-md-offset-3
    .thumbnail
      = image_tag @workshop.cover.url, class: "black center"
      %h2.center= @workshop.title
      %hr
      %p.center=(@workshop.content)