.co
	.row
		.container
			.col-md-6.col-md-offset-3.form
				=image_tag @user.avatar.url(:thumb),class: 'img-rounded dp thumbnail center-block'
				%h1.center
					%i.fa.fa-user
					= @user.name
				%p.center
					%em= @user.email
				%p.center
					+91-
					= @user.phone_number
				%p.center
					Mentee in
					= @user.workshop.title

				%p.center
					%i.fa.fa-clock-o
					Joined on
					=@user.created_at.strftime("%B %d, %Y")
				%hr
				%h2.center About Me
				.coontainer
					%p=simple_format(@user.about)
				%hr
				%h2.center Contact me!
				%h1
					%i.fa.fa-whatsapp
					%i.fa.fa-facebook
					%i.fa.fa-twitter
					%i.fa.fa-pinterest
					%i.fa.fa-linkedin
					%i.fa.fa-chrome
				