
%script{:src => "jquery.slides.min.js"}

//=======================================================
:javascript
  $(function(){
    $('.navbar').hide();
  });
//=========================================================
.row
  .col-md-12
    #logos
      =image_tag "logo.png"
      =image_tag "logo.png"
      =image_tag "logo.png"
      =image_tag "logo.png"
      =image_tag "logo.png"
        
  
