%br
%br
%br
.row
  .col-md-8.col-md-offset-2.form
    %h1.center All Contributions
    %hr
    -@contributions.each do |c|
      %br
      %p
        .pull-right
          =time_ago_in_words(c.created_at)
        =link_to c.title, c
        %em by
        =link_to c.user.name, c.user
        %em in
        =link_to c.workshop.title
      %br
        


    %br
    .center
      = link_to 'New Contribution', new_contribution_path,class: "btn btn-primary"
%br
%br
%br
