%br
%br
.container
  .row
    .col-md-8
      -@posts.each do |post|
        .col-md-4
          .thumbnail.pasty
            =image_tag(post.cover.url)
            .caption
              %h3=link_to post.title, post_path(post)
              %p
                %em by
                =post.admin.name
              %p=post.content.truncate_words(15)
              .btn-group.down
                =link_to 'Like',post_path(post),class: "btn btn-primary"
                =link_to 'Mentor Profile',admin_path(post.admin),class: "btn btn-primary"
    .col-md-4
      =render 'aggregator/aside'
            

