%br
%br
%br
%br
.row
	.col-md-8.col-md-offset-2.form
		=image_tag @post.cover.url(:medium),class: "cover thumbnail img-responsive"
		%h1= @post.title
		%hr
		%p=simple_format(@post.content)
		%h3.caption Images
		%hr
		-@post.stuffs.each do |stuff|
			.thumbnail
				=image_tag stuff.image.url(:medium),class: "post img-responsive"
				%p.caption=stuff.tag
		%h3.caption Videos
		%hr
		-@post.embedurls.each do |aurl|
			.thumbnail
				%iframe{:allowfullscreen => true, :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/#{aurl.url.split("=").last}", :width => "350"}
				%p.caption=aurl.tag
			%br
