
.row
	.col-md-8.col-md-offset-2.form.container
		


		=image_tag @post.cover.url(:medium),class: "cover thumbnail img-responsive"
		%h1.arvo= @post.title
		%hr
		%p.cont=simple_format(@post.content)
		%hr

		-if @post.stuffs.size > 0
			-@post.stuffs.each do |stuff|
				.thumbnail
					=image_tag stuff.image.url,class: "post_image img-responsive"
					%p.caption=stuff.tag
		-if @post.embedurls.size > 0
			-@post.embedurls.each do |aurl|
				.thumbnail.embed-responsive.embed-responsive-16by9
					%iframe{:allowfullscreen => true, :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/#{aurl.url.split("=").last}"}
				%p.caption=aurl.tag
				%br
			%hr

		.btn-group.pull-right
			=link_to like_post_path(@post),method: :get,class: "btn btn-success" do
				%i.fa.fa-plus
				=pluralize(@post.get_upvotes.size, 'Upvote')
			=link_to dislike_post_path(@post),method: :get,class: "btn btn-danger" do
				%i.fa.fa-minus
				=pluralize(@post.get_downvotes.size, 'Downvote')
			
		
		-if admin_signed_in? and current_admin.id == @post.admin_id
				=link_to destroy_post_path(@post),method: :delete,class: "btn btn-danger" do
					%i.fa.fa-minus

		#comments
			%h3.caption#comments-count
				=pluralize(@comments.count, "Comment")
			%hr
			-@post.comments.each do |comment|
				-if comment.user_id ==nil
					#admin_comment
						%p
							=image_tag comment.admin.avatar.url(:thumb), class: "img-circle avatar"
							=link_to comment.admin.name, admin_path(comment.admin.id)
							=comment.content
						%p.pull-right= time_ago_in_words(comment.created_at)
						%hr
					%br
				-else
					%p
						=image_tag comment.user.avatar.url(:thumb), class: "img-circle avatar"
						=link_to comment.user.name, user_path(comment.user.id)
						=comment.content
					%p.pull-right= time_ago_in_words(comment.created_at)
					%hr
			=render 'comments/form'
