/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import "font-awesome-sprockets";
@import "font-awesome";


.navbar-toggle{
	height: 0px;
	border: none;
	a{
		color:black;
	}
}

.navbar-custom{
	box-shadow: 0px 0px 3px 1px #e4e4e4;
	background-color: white;
	border-bottom: 1px solid #e4e4e4;
	height: 50px;

	ul.nav.navbar-nav{
		font-family: varela round;

		li a{
			text-decoration: none;
			color: grey;
		}
	}
	.navbar-brand{
 
		font-family: varela round;
		
	}
	.logotext{
		font-weight: bold;
		color: #00b32d;
		padding-left: 45px;
		font-size: 25px;
	}
	img{
		margin-top: -5px;
		float:left;
		width: 40px;
	}
}

#green a{
	color: #00b32d;
	font-weight: bold;
	font-size: 20px;
}

body{
	background-color: #f8f8f8;
}

@media only screen and (max-width: 768px) {
    .navbar-brand {
        float: right;
    }
}











