%br
%br
%br
.row
  .col-md-8.col-md-offset-2.form
    %h1 Listing All Threads
    %hr

    -@forum_threads.each do |thread|
      %br
      %h5
        =link_to thread.title, thread
        %em by 
        =link_to thread.user.name, thread.user
        %em in
        =link_to thread.workshop.title, thread.workshop
        .pull-right
          =time_ago_in_words(thread.created_at)
      %br
    .center
      =link_to 'New Thread', new_forum_thread_path, class:"btn btn-primary"
%br
%br
%br
