!!!
%html{lang: "en"}
  %head
    
    /========================================== Used for bootstrap ======================================================
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}
    %meta{:content => "grey", :name => "theme-color"}/
    =favicon_link_tag(source='Artboard 1.png', options={})
    /====================================================================================================================
    
    %title Mycaptain
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    
  


  %body
    %nav.navbar-custom.navbar.navbar-fixed-top.navbar-default{role: "navigation"}
      .container
        .navbar-header
          .dropdown.navbar-toggle.pull-left
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              %br
              %span.glyphicon.glyphicon-align-justify
            %ul.dropdown-menu
              %br
              %li
                %a{href: "#"} Action
              %li
                %a{href: "#"} Another action
              %li
                %a{href: "#"} Something else here
              %li
                %a{href: "#"} Separated link
              %li
                %a{href: "#"} One more separated link
          .navbar-brand
            =image_tag "logo1.png"
        - if !(user_signed_in?) && !(admin_signed_in?)
          .collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              %li
                %a{href: statics_about_path}
                  %span
                    %i.fa.fa-tasks
                    Features
              %li
                %a{href: "http://www.theclimber.in"}
                  %span
                    %i.fa.fa-copyright
                    The Climber&trade;
              %li
                %a{href: new_user_session_path}
                  %span
                    %i.fa.fa-sign-in
                    Sign In
              %li#green
                %a{href: new_user_registration_path}
                  %span
                    %i.fa.fa-user-plus
                    Join
        -elsif user_signed_in? && !(admin_signed_in?)
          .collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              %li
                %a{href: statics_about_path}
                  %span
                    %i.fa.fa-users
                    Worshop Forum
              %li
                %a{href: "http://www.theclimber.in"}
                  %span
                    %i.fa.fa-pencil
                    Contribute
              %li
                %a{href: new_user_session_path}
                  %span
                    %i.fa.fa-mortar-board
                    Captains
              %li#green
                %a{href: user_path(current_user)}
                  %span
                    %i.fa.fa-user
                    Profile
        -elsif admin_signed_in? && !(user_signed_in?)
          .collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              %li
                %a{href: new_post_path}
                  %span
                    %i.fa.fa-pencil
                    New Post
              %li
                %a{href: new_workshop_path}
                  %span
                    %i.fa.fa-university
                    New Workshop
              %li
                %a{href: new_user_session_path}
                  %span
                    %i.fa.fa-users
                    Mentees
              %li#green
                %a{href: admin_path(current_admin)}
                  %span
                    %i.fa.fa-user
                    Profile
            
      / /.navbar-collapse
    -if user_signed_in? or admin_signed_in?
      %br
      %br
      %br
      = yield
    -else
      =yield